.game-choices {
    position: absolute;
    bottom: 45px; 
    left: 50%; transform: translateX(-50%); 
    z-index: 10;
    display: flex;
    flex-direction: column;
    gap: 20px;
    width: auto; 
    align-items: center; 
    box-sizing: border-box;
}

.main-button {
    display: flex; 
    justify-content: center; 
    align-items: center;
    width: 400px; /* 원하는 버튼 너비 */
    height: 100px; /* 원하는 버튼 높이 */
    padding: 0 20px; 
}

.main-button:hover {
    transform: translateY(0.25vh);
    background-color: #f2f2f2;
    box-shadow: 0 0.25vh 0.25vh rgba(0, 0, 0, 0.2);
}
  