.background-img {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
  z-index: 1;
}

/* 게임 스토리 배경 이미지 */
.background-home {
  position: absolute;
  top: 10vh;
  left: 50%;
  transform: translateX(-50%);
  width: auto;           /* 너비 자동 조정 */
  height: 47vh;          /* 화면 높이에 맞춰 조정 */
  max-height: 80vh;      /* 너무 커지지 않게 제한 */
  z-index: 0;            /* 회색 배경보다 뒤에 */
  object-fit: contain;   /* 이미지 비율 유지하며 내부에 맞춤 */
}


/* 상단 우측 아이콘 (뉴스, 메뉴 등) */
.right-icons .icon {
  width: 24px;
  height: 24px;
  margin-left: 15px;
  cursor: pointer;
}

.icon-button {
  background: none;
  border: none;
  cursor: pointer;
  padding: 5px;
}

.news-icon {
  width: 32px;
  height: 32px;
}

.character-img {
  position: absolute;
    top: 10vh;
    left: 50%;
    transform: translateX(-50%);
    width: auto;           /* 너비 자동 조정 */
    height: 47vh;          /* 화면 높이에 맞춰 조정 */
    max-height: 80vh;      /* 너무 커지지 않게 제한 */
    z-index: 1;            /* 회색 배경보다 뒤에 */
    object-fit: contain;   /* 이미지 비율 유지하며 내부에 맞춤 */
}
