.back-button {
  width: 5vh;
  height: auto;
  border: none;
  background: none;
  cursor: pointer;
  z-index: 11;
}

.back-button-img {
  width: 100%;
  height: auto;
  display: block;
}

.back-button-container {
  position: absolute;
  top: 2vh;
  left: 2vh;
  width: 5vh;
  height: auto;
  z-index: 10;
  display: flex;
  justify-content: center;
  align-items: center;
  background: red;
}

.next-button {
  width: 15vh;
  height: 5vh;
  font-size: 2vh;
  font-weight: 500;
  background-color: #ffffff;
  border: none;
  border-radius: 1.25vh;
  box-shadow: 0 0.5vh 0.5vh rgba(0, 0, 0, 0.25);
  cursor: pointer;
  transition: all 0.2s ease;

  display: flex;
  justify-content: center;
  align-items: center;
}

.next-button:hover {
  transform: translateY(0.25vh);
  background-color: #f2f2f2;
  box-shadow: 0 0.25vh 0.25vh rgba(0, 0, 0, 0.2);
}


.main-button {
  width: 35vh;
  height: 5vh;
  font-size: 2vh;
  padding: 1vh;
  font-weight: 500;
  background-color: #ffffff;
  border: none;
  border-radius: 1.25vh;
  box-shadow: 0 0.5vh 0.5vh rgba(0, 0, 0, 0.25);
  cursor: pointer;
  transition: all 0.2s ease;
}

.main-button:hover {
  transform: translateY(0.25vh);
  background-color: #f2f2f2;
  box-shadow: 0 0.25vh 0.25vh rgba(0, 0, 0, 0.2);
}
